.box {
  background-color: var(--white-color);
  padding: 35px 0;
  border-top: 1px solid var(--gray-color-100);
}

.inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-head {
  color: var(--main-color-100);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.link,
.link * {
    color: var(--gray-color-200);
    font-size: 13px;
    line-height: 1.3;
}

.link-href {
    transition: all .5s;
}

.link-href:hover {
    color: var(--main-color);
}