@import url("https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Анимации для уведомлений */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-out {
  animation: slide-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  /* Анимацию исчезновения можно добавить через JS, изменяя класс, или использовать более сложные CSS-техники */
}

body {
  --white-color: #ffffff;
  --main-color: #374151;
  --main-color-100: #1f2937;
  --gray-color-100: #e5e7eb;
  --gray-color-200: #4b5563;
  --orange-color: #d97706;
  --orange-dark-color: #b45309;
  --green-color: #059669;
  --green-dark-color: #01412d;
  --red-color: rgb(220,38,38);

  --radius-middle: 12px;
  --radius-s: 6px;

  --padding-inline-container: 15px;
  --max-width-contaoner: 1536px;

  --main-gradient: linear-gradient(135deg, #fffbeb 0%, #fef9c3 100%);
}

.h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.p1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
