.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: var(--main-gradient);
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}
