

.text-center {
  text-align: center;
}

.section {
    height: 100%;
    display: flex;
    flex:1;
}

.container-auth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 580px;
    width: 100%;
    margin: auto;
}
