.box {
  --gap-details: 32px;

  background-color: var(--white-color);
  padding: 8px 0;
  border-bottom: 1px solid var(--gray-color-100);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.img {
  width: 192px;
  height: 64px;
  position: relative;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu,
.links,
.btns {
  display: flex;
  align-items: center;
  gap: var(--gap-details);
}

.link {
  color: var(--main-color);
  font-size: 15px;
  line-height: 1.6;
  transition: all 0.5s;
}

.link:hover {
  color: var(--orange-color);
}
