.box {
  width: 100%;
  background-color: var(--white-color);
  padding: 25px;
  border-radius: var(--radius-middle);
  box-shadow: 0px 1px 2px -1px #0000001a, 0px 1px 3px 0px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inner-btns {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer {
  text-align: center;
}

.link {
  color: var(--orange-color);
}
